<header class="navbar-header">
  <div class="navbar-container">

    <div class="navbar-left">
      <img src="assets/img/header_logo.png" alt="BioResult" class="logo-img" />
      <span class="navbar-title">BioResult</span>
    </div>

    
    <nav class="navbar-menu">
        
      <a *ngIf="rol === 'ADMIN'" routerLink="/list-usuarios" class="nav-link">Usuarios</a>
      <a routerLink="/lista-resultado" class="nav-link">Resultados</a>
      <a routerLink="/detalle-resultado" class="nav-link">Registrar resultado</a>
      <a  (click)="logout()" class="nav-link">Cerrar sesión</a>
    </nav>

  </div>
</header>
